article {
  background-color: #fbf1e9;
  font-family: 'Muli', sans-serif;
  height: auto;
  position: relative;
  width: auto;
}
article h2 {
  color: #f07057;
  font: 40px 'Raleway', sans-serif;
  margin-bottom: 25px;
}

#mission {  
  text-align: center;
  padding-top: 125px;
  padding-bottom: 150px;

  p {
    font-size: 22px;
  }
}

#events {
  min-height: 250px;
  padding-top: 100px;
  padding-bottom: 275px;
  text-align: center;      
  background-color: white;
  box-shadow: inset  0  8px 8px -8px #696868;              

  .event-circle {
    background-color: white;  
    border: 3px solid #f07057;  
    border-radius: 50%;  
    display: inline-block;
    height: 200px;    
    width: 200px;         
    margin: 40px 40px 20px 40px; 
    vertical-align: middle;   
    -webkit-transition: width 1s, height 1s, border-radius 1s, background-color .5s;
    transition: width 1s, height 1s, border-radius 1s, background-color .5s;

    &>div {
      color: #808080;
      font-size: 100px;             
      position: relative;
      top: 24%;
    }

    &>p {      
      color: white; 
      font: 30px 'Raleway', sans-serif;            
      width: 90%;      
      margin-top: 50%;     
      visibility: hidden;  
      position: relative;  
      line-height: inherit;
      margin-left: auto;
      margin-right: auto;   
    }    

    &:hover {
      background-color: #f07057;    
      height: 225px;
      width: 225px;
      -webkit-transition: width 1s, height 1s, border-radius 1s, background-color .5s;
      transition: width 1s, height 1s, border-radius 1s, background-color .5s;   
    
      &>div {
        visibility: hidden;
        position: fixed;
      }

      &>p {
        visibility: visible;
      } 
    }
  }

  .event-description {
    text-align: left;
    margin-top: 75px;
    position: relative;
    left: 20%;
  }
}

#signup {
  padding-bottom: 250px;  
  padding-top: 150px;
  background-color: white;

  h2 {    
    text-align: center;    
  }

  #col1 {
    width: 55%;
  }

  #col2 {
    width: 45%;
  }

  .signup-steps {    
    display: inline-block;  
    background-color: gold;
    border: 1px solid red;    

    h3 {
      font-size: 30px;          
      text-align: left;
    }

    img  {
      box-shadow: 0 0 10px #888888;
      float: left;
      margin-right: 20px;
      margin-left: 20px;
      max-width: 100%;
       height: auto;
    }

    div {
      display: block;

      span {
        color: #f07057;
      }
    }
  }
}

#about-us {
  background-color: #f2f2f2;
  box-shadow: inset 0  8px 8px -8px #696868;  
  clear: left;
  padding: 30px;
  padding-top: 150px;
  padding-bottom: 160px;

  h2 {
    text-align: center;
  }
  p {
    margin: 15px 0;
    color: #404040;
    span {
      color: #f07057;
    }
  }
}
