* {
	background-color: #fffcd2;
	font:sans-serif;
	width: 90%;
	margin: 0 auto;
	border: 1px;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: gray;
	border:3px;
	width: 100%;
	overflow: hidden;
	background-color: #d9d9d9;
	margin: 0px;
	display: inline;
}
nav {
	float: right;
}
#logo {
	width: 300px;
	height: 150px;
}
#nav-list {
	list-style: none;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: #262626;
	display: block;
}
#nav-list:hover{
	background-color: #a6a6a6;
	color: gray;
}
#nav-list li {
	display: inline;
}
#ways-to-play {
	display: none;
}
#ways-to-play:hover{
	display: block;
}
#home-text {
	width: 500px;
}
#mission {
	padding-top: 150px;
	padding-bottom: 150px;
}
h2{
	font-size: 35px;
}
p {
	padding-bottom: 50px;
	font-size: 20px;
}
