* {
	font-family: arial;
}
#mission, header, #footer, #nav li {
	text-align: center;
}
body {
	width: 100%;
	margin: 0 auto;
	padding-top: 300px;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 200%;
}
#content {
	overflow: auto;
	position: relative;
}
#logo {
	height: 200px;
	background-color: #f07057;
	color: white;
	font-size: 300%;
	text-align: center;
	padding-top: 50px;
}
#nav-scrolled,
#logo {
	width: 100%;
	top: 0;
	position: fixed;
}

#nav {
	width: 100%;
	height: 50px;
	padding-top: 10px;
	z-index: 150;
	box-shadow: 0 2px 3px rgba(0,0,0, .4);
	position: relative;
}
#nav li:active {
	border-top:thick;
	border-top-color: #f07057;
}
#column1, #column2, #column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
}
#column3{
	margin-right: 0%;
}
#nav-list li {
	display: inline;
	padding: 0.5em;
	font-size: 150%;
	color: white
}
#nav-list li:hover {
	border: thick black;
}
#nav, #footer {
	background-color: #efefef;
	padding: 0.5em 0;
}
#mission {
	height: 50px;
	width: 100%;
	margin: 25px 0px 25px 0px;
	background-color: #f07057;
	padding-top: 25px;
}
#footer {
	color:gray;
}