<footer>
	<h3>we'd love for you to keep in touch</h3>

	<a href="https://www.facebook.com/rogersultimate/?ref=aymt_homepage_panel" target="_blank">
	<div class="social-links">
		<div class="icon-facebook"></div>
	</div></a>

	<a href="https://www.instagram.com/nwa.ultimate/" target="_blank">
	<div class="social-links">		
		<div class="icon-instagrem"></div>
	</div></a>

	<a href="http://www.google.com" target="_blank">
	<div class="social-links">		
		<div class="icon-youtube-alt"></div>
	</div></a>

	<a href="mailto:info@nwaultimate.com">
	<div class="social-links">		
		<div class="icon-mail"></div>
	</div></a>	

	<p>northwest arkansas ultimate, a non-profit organization. 2016. site design by jackson hoyt</p>
</footer>
