<footer>
	<div></div>
	<p>northwest arkansas ultimate, a non-profit organization. site design by jackson hoyt</p>
	<div class="social-media-links">
		<div class="icon-facebook"></div>
		<div class="icon-instagrem"></div>
	</div>
</footer>
