<header id="home">
  <div class="headings">
    <h1>Northwest Arkansas Ultimate.</h1>
    <h3>Shaping the sport of ultimate, locally.</h3>
  </div>

  <div class="slideshow">
    <img src="images/background.jpg" class="current">
    <img src="images/LS1.jpg">
  </div>
</header>
