<a name="home">
  <header>
    <div id="slideshow">
      <div>
        <h1>northwest arkansas ultimate.</h1>
        <h3>shaping the sport of ultimate, locally.</h3>
      </div>
      <div>
        <img src="background.jpg">
      </div>
      <div>
        <h1>northwest arkansas ultimate.</h1>
        <h3>shaping the sport of ultimate, locally.</h3>
      </div>
      <div>
        <img src="LS1.jpg">
      </div>
    </div>
  </header>
</a>
