<header id="home">
  <div class="headings">
    <h1>Northwest Arkansas Ultimate.</h1>
    <h3>Shaping the sport of ultimate, locally.</h3>
  </div>

  <div class="slideshow">
    <img src="images/slideshow/Optimized-NWAU4.jpg" class="current">
    <img src="images/slideshow/NWAU5.jpg">
    <img src="images/slideshow/NWAU8.jpg">
  </div>
</header>
