<nav data-spy="affix" data-offset-top="400">
  <div id="navbarLogo">
    <h1>northwest arkansas ultimate.</h1>
    <h3>shaping the sport of ultimate, locally.</h3>
  </div>

  <a href="#home">home</a>
  <a href="#events">events</a>
  <a href="#signup">sign up</a>
  <a href="#about-us">about us</a>
  <a href="https://www.classy.org/checkout/donation?eid=76366" target="_blank">donate</a>
</nav>
