body > header {
  font-family: 'Raleway', sans-serif;
  height: 400px;
  margin-bottom: 75px;
  overflow: hidden;
  position: relative;
  text-transform: lowercase;
  .headings {
    background: rgba(0,0,0,.4);
    bottom: 0;
    left: 0;
    padding: 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    h1 {
      font-size: 40px;
      color: white;
    }
    h3 {
      font-size: 30px;
      color: #f07057;
    }
  }
  .slideshow {
    height: 100%;
    position: relative;
    img {
      left: 0;
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: 1s opacity;
    }
    img.current {
      opacity: 1;
    }
  }
}

body > nav {
  background-color: white;
  box-shadow: 0 2px 3px rgba(0,0,0, .4);
  padding-bottom: 16px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  top: 400px;
  width: 100%;

  #navbarLogo {
    display: none;
  }
  a {
    color: #f07057;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 10px 18px;
    text-decoration: none;
  }
  a:hover {
    box-shadow: 0 -2px #f07057 inset;
  }
  z-index: 4;
}
body > nav.affix {
  position: fixed;
  top: 0;
}

body > footer {
  background-color: #efefef;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0,0,0, .4);
  float: left;
  font-family: 'Raleway', sans-serif;
  padding: 5px 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  p {
    color: #f07057;
  }
}
