<div id="mission">
  <h2>our mission</h2>
  <p>
    promote active lifestyles, teach character,
    and unite a community for all ages through the sport of ultimate.
  </p>
</div>

<div id="events">
  <div class="event-type">
    <h4>pick up</h4>

    <ul>
      <li>
        <span>fayetteville</span>
        <div>
          When: Wednesdays, 6:30pm (confirm with contact below)<br>
          Where: <a href="https://www.google.com/maps/place/2790+N+Salem+Rd,+Fayetteville,+AR+72704/@36.105102,-94.2082597,17z/data=!3m1!4b1!4m2!3m1!1s0x87c96dd8e3e5e4a5:0x6328adc4e63109d9" target="_blank">Gary Hampton</a><br>
          Contact: <a href="https://www.facebook.com/fdaultimate" target="_blank">FDA facebook group</a>
        </div>
      </li>

      <li>
        <span>rogers</span>
        <div>
          When: Saturdays, 10:30am (confirm with contact below)<br>
          Where: <a href="https://www.google.com/maps/place/5891+S+Bellview+Rd,+Rogers,+AR+72758/@36.278315,-94.170899,622m/data=!3m1!1e3!4m2!3m1!1s0x87c9115fe95553ab:0x471d509d9ad8eab6!6m1!1e1?hl=en" target="_blank">
            Belleview Fields</a><br>
          Contact: Dan Sines <a href="mailto:dan@nwaultimate.com">dan@nwaultimate.com</a> or <a href="hhttps://www.facebook.com/nwaultimate">NWA Ultimate facebook group</a>
        </div>
      </li>

      <li>
        <span>bentonville</span>
        <div>
          When: Weekdays, 11:20am (confirm with contact below)<br>
          Where: <a href="https://www.google.com/maps/place/Phillips+Park/@36.3401927,-94.206841,622m/data=!3m2!1e3!4b1!4m2!3m1!1s0x87c910429dbad1fb:0xf0082c38e6251bb9!6m1!1e1?hl=en" target="_blank">
            Phillips Park</a><br>
          Contact: Scott Grandy <a href="mailto:scott@nwaultimate.com">scott@nwaultimate.com</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="event-type">
    <h4>upcoming tournaments</h4>

    <ul>
      <li>
        <span>Tax-Break Tourney</span>
        <div>
          The 2<sup>nd</sup> annual Tax-Break Tourney is here!        
          <br>This is a hat tournament, so no need to form a team ahead of time. We make sure you will get placed on a team, and play a minimum of four games. We will cap entry at 84 participants to ensure maximum fun is had by all!
          <br><br>Cost: $10 in advance, $20 late filing fee after April 8<sup>th</sup>.
          <br>Prizes: Dri-fit tees for the winning team and door prizes for best costumes!
          <br><br>When: <time>Saturday, April 15<sup>th</sup></time> 
          <br>Where: <a href="https://www.google.com/maps/place/Phillips+Park/@36.3401927,-94.206841,622m/data=!3m2!1e3!4b1!4m2!3m1!1s0x87c910429dbad1fb:0xf0082c38e6251bb9!6m1!1e1?hl=en" target="_blank">
            Phillips Park, Bentonville, AR</a>
          <br>Contact: <a href="mailto:info@nwaultimate.com">info@nwaultimate.com</a> for general questions
          <br><br>Lunch is provided, but you will need to bring a chair, water, a dark and a light shirt. The required age to play is 10-100, but we can make exceptions for certain cases of players over the age of 100.
          <br><br> <a href="https://goo.gl/forms/7ydUgxbn4pPk4Apu2" target="_blank">sign up</a>
        </div>
      </li>
      <li>
        <span>FDA's Indoor Night Tournament</span>
        <div>
          More details to come, so check back soon!
          <br><br>Cost:          
          <br>When: <time>Saturday, April 22<sup>nd</sup></time> 
          <br>Where:
          <!--<br><br> <a href="https://goo.gl/forms/7ydUgxbn4pPk4Apu2" target="_blank">sign up</a>-->
        </div>
      </li>
      <!-- 
      <li>
      <span>Ballot Box Hat Tournament</span>
      <div>
        This one day, coed hat tournament will be our final official tournament offering for 2016! 
        <br>Teams are randomly assigned, while individual skill level will factor in to balancing the overall team assignments.
        <br>Sign up will be open until field capacity is reached. Food and refreshments will be provided.
        <br> Sign up by Nov. 8<sup>th</sup> to be entered in a raffle for gear from 5Ultimate!
        <br><br>Cost: $10 ($20 after November 8<sup>th</sup>, $25 day of tournament)
        <br><br>Game Time: <time>9:45-4:00, Nov. 12<sup>th</sup></time> 
        <br>Registration Time: <time>9:00-9:30, Nov. 12<sup>th</sup></time>          
        <br>Where: <a href="https://www.google.com/maps/place/Phillips+Park/@36.3401927,-94.206841,622m/data=!3m2!1e3!4b1!4m2!3m1!1s0x87c910429dbad1fb:0xf0082c38e6251bb9!6m1!1e1?hl=en" target="_blank">Phillips Park, Bentonville, AR</a>        
        <br><br><a href="https://docs.google.com/forms/d/e/1FAIpQLScxoBQJZFZ6JShueT4ljjG-zqsUHKWpBofaVR2tvmquudxhyg/viewform" target="_blank">sign up</a>
      </div>
      </li>-->
    </ul>
  </div>
</div>

<div id="signup">
  <img src="images/signup.png">

  <h2>how to sign up</h2>
  <p>
    <span>for tournaments</span> 
    <ul>
      <li>Find upcoming tournaments under Events.</li>
      <li>Sign up and fill out all the required information.</li>
      <li>Pay in advance through PayPal, or wait until the game day and pay before your 1<sup>st</sup> game.</li>
    </ul>     
  </p>
  <p>
    <span>for pick up</span> 
    <ul>
      <li>Find times and places for pickup under Events.</li>
      <li>No sign up or cost required.</li>
      <li>Get additional details from the provided contact.</li>
      <li>Ask to be added to the email distribution to receive updates if the game is canceled. (Fayetteville updates only available through Facebook group.</li>
    </ul>
  </p>
  <p>
    <span>for other questions</span> contact <a href=“info@nwaultimate.com”>info@nwaultimate.com</a>.
  </p>
</div>

<div id="about-us">
  <h2>about us</h2>

  <p>
    We are an organization committed to providing outlets 
    and opportunities for the community to get out, get active, 
    and get to know each other through the sport of Ultimate.
  </p>
  <p>
    All ages and skill levels are welcome. 
    <span>Whether you are a long time veteran or you have never heard of the sport,</span>
    we invite all to come out and participate in any of our events.
    We also want to teach the sport. Signing up for tournaments and leagues is a great way to 
    start learning or be a teacher for others, depending where you find yourself. 
    You can always learn as you go in one of our pick up games. Ultimate is a sport for all. 
    No matter what your age, height, skill level, or what kind of shape you are in, 
    <span>there is a place for you on the Ultimate field!</span>
  </p>
  <p>
    Also, the sport of Ultimate is getting more recognition around the world. 
    The sport has a professional league, world tournaments, and is officially 
    eligible to be an Olympic game.
  </p>
  <p>
    We look forward to spreading the great game of Ultimate throughout 
    the community and are available to answer any and all questions. 
    Hope to see you on the field!
  </p>
</div>
