<div id="mission">
  <h2>our mission</h2>
  <p>
    promote active lifestyles, teach character,
    and unite a community for all ages through the sport of ultimate.
  </p>
</div>

<div id="events">
  <div class="event-type">
    <h4>join a league</h4>

    <ul>
      <li>
        <span>summer</span>
        <div>
          League nights are Thursdays, beginning June 9<sup>th</sup>.
          </br> 10 weeks of play wrapped up with a tournament on Saturday August 18<sup>th</sup>.
          </br> <a href="#signup">sign up</a>
        </div>
      </li>

      <li>
        <span>fall</span>
        <div>
          League days are Sundays, beginning September 4<sup>th</sup>.
          </br> 10 weeks of play wrapped up with a tournament on Saturday November 12<sup>th</sup>.
          </br> <a href="#signup">sign up</a>
        </div>
      </li>

      <li>
        <span>winter</span>
        <div>
          League nights are Thursdays, beginning January 26<sup>th</sup>.
          </br> 10 weeks of play wrapped up with a tournament on Saturday April 1<sup>st</sup>.
          </br> <a href="#signup">sign up</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="event-type">
    <h4>pick up</h4>

    <ul>
      <li>
        <span>fayetteville</span>
        <div>
          When: Thursdays at 6:30pm</br>
          Where: <a href="https://www.google.com/maps?q=Walker+Park,+West+15th+Street,+Fayetteville,+AR&hl=en&ll=36.052812,-94.162188&spn=0.010287,0.021136&sll=36.278315,-94.170899&sspn=0.005129,0.010568&oq=walker+park&t=h&z=16&iwloc=A">
            Walker Park</a></br>
          Contact: Maddy Brown <a href="mailto:maddy@fda.com">maddy@fda.com</a>
        </div>
      </li>

      <li>
        <span>rogers</span>
        <div>
          When: Saturday mornings at 10am</br>
          Where: <a href="https://www.google.com/maps/place/5891+S+Bellview+Rd,+Rogers,+AR+72758/@36.278315,-94.170899,622m/data=!3m1!1e3!4m2!3m1!1s0x87c9115fe95553ab:0x471d509d9ad8eab6!6m1!1e1?hl=en">
            Belleview Fields</a></br>
          Contact: Dan Sines <a href="mailto:dan@nwaultimate">dan@nwaultimate.com</a>
        </div>
      </li>

      <li>
        <span>bentonville</span>
        <div>
          When: Weekdays at lunch if there are enough to play. Scott notifies everyone through email throughout the week.</br>
          Where: <a href="https://www.google.com/maps/place/Phillips+Park/@36.3401927,-94.206841,622m/data=!3m2!1e3!4b1!4m2!3m1!1s0x87c910429dbad1fb:0xf0082c38e6251bb9!6m1!1e1?hl=en">
            Phillips Park</a></br>
          Contact: Scott Grandy <a href="mailto:scottg@nwaultimate.com">scottg@nwaultimate.com</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="event-type">
    <h4>upcoming tournaments</h4>

    <ul>
      <li>
        <span>Tax-Break Tourney</span>
        <div>
          When: Weekdays at lunch if there are enough to play. Scott notifies everyone through email throughout the week.</br>
          Where: <a href="https://www.google.com/maps/place/Phillips+Park/@36.3401927,-94.206841,622m/data=!3m2!1e3!4b1!4m2!3m1!1s0x87c910429dbad1fb:0xf0082c38e6251bb9!6m1!1e1?hl=en">
            Phillips Park</a></br>
          Our 1<sup>st</sup> annual Tax-Break Tourney is Saturday April 16<sup>th</sup> at Phillips Park in Bentonville, AR. </br>
          </br>This is a hat tournament, so no need to form a team ahead of time.
          </br>Rank yourself 1 to 5 and we'll distribute the skill evenly across the teams.
          </br> <a href="">sign up</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="signup">
  <img src="images/signup.png">

  <h2>how to sign up</h2>
  <p>
    <span>For leagues and tournaments,</span> use the provided link to
    fill out a form, which usually takes 100 seconds to complete. We
    will ask for some of your most guarded secrets, like your name,
    experience and shirt size... Leagues and tournaments will
    have a price listed. If you play in a league, you will need to
    buy a $25 NWAU membership, once per year.
  </p>
  <p>
    <span>For pick up games,</span> no cost or sign up is required.
    Just show up, but letting us know you're coming would be smart.
    If pickup is cancelled for any reason, we will notify everyone
    on our pickup distro.
  </p>
</div>

<div id="about-us">
  <h2>about us</h2>

  <p>This may be brief, but the best way to get to know us is by throwing a disc around.</p>
  <p>
    Basically, we all wanted an organization that provides outlets to play the
    sport of Ultimate, so we made one. For some of us our college years are not
    far behind and some of us have teenagers, but <span>our commonality lies in
      a love for the game and our community.</span> We'd be thrilled to have you
    join us for pick up, leagues, tourneys, or happy hour.
  </p>
  <p>
    Did you know Ultimate is an Olympic sport, now? Kids can learn it, daddy's
    with the dad gut can dominate the field like the old days, and every so often
    a true olympian emerges from the ranks. If you're inexperienced, a serious
    athlete, or a even a little out of shape this game is for you.
  </p>
  <p>
    <span>If you currently play in the area,</span> why play in small divided
    groups across the area when we could play together and pool efforts to make
    consistent games happen?
  </p>
</div>
