<img id="logo" src="images/NWAU_LOGO_color.png">
<div id="mission">
  <h2>our mission</h2>
  <p>
    promote active lifestyles, teach character,
    and unite a community for all ages through the sport of ultimate.
  </p>
  <img id="swoosh-color-mission" src="images/NWAU_swoosh_color.png">
</div>

<div id="events">  
  <h2>ways to play</h2>
  

  <a href="" data-toggle="modal" data-target="#modal-leagues">
  <div class="event-circle">    
    <div class="icon-megaphone-2"></div>
    <p>leagues</p>    
  </div></a>

    <!-- Modal -->
  <div id="modal-leagues" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">leagues</h4>
        </div>
        <div class="modal-body">
          <p>We are not currently hosting leagues, but our neighbors in Fayetteville do all year! Visit <a href="http://www.fayettevilledisc.org/wp/" target="_blank">Fayetteville Disc Association</a> for more info. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <a href="" data-toggle="modal" data-target="#modal-pickup">
  <div class="event-circle">    
    <div class="icon-cloud"></div>
    <p>pick up</p>
  </div></a>

      <!-- Modal -->
  <div id="modal-pickup" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">pick up schedule</h4>
        </div>
        <div class="modal-body">  
          <p>Have another regular pick up game in one of these cities? 
          <br>Let us know who we can talk to about merging the games to get better numbers for everyone! If that doesn't work let's add it to our growing list!</p>        
          <ul>
            <li>
              <span>fayetteville</span>
              <div>
                When: Wednesdays, 6:30pm (confirm with contact below)<br>
                Where: <a href="https://www.google.com/maps/place/2790+N+Salem+Rd,+Fayetteville,+AR+72704/@36.105102,-94.2082597,17z/data=!3m1!4b1!4m2!3m1!1s0x87c96dd8e3e5e4a5:0x6328adc4e63109d9" target="_blank">Gary Hampton</a><br>
                Contact: <a href="https://www.facebook.com/fdaultimate" target="_blank">FDA facebook group</a>
              </div>
            </li>

            <li>
              <span>rogers</span>
              <div>
                When: Saturdays, 10:30am (confirm with contact below)<br>
                Where: <a href="https://www.google.com/maps/place/5891+S+Bellview+Rd,+Rogers,+AR+72758/@36.278315,-94.170899,622m/data=!3m1!1e3!4m2!3m1!1s0x87c9115fe95553ab:0x471d509d9ad8eab6!6m1!1e1?hl=en" target="_blank">
                  Belleview Fields</a><br>
                Contact: Dan Sines <a href="mailto:dan@nwaultimate.com">dan@nwaultimate.com</a> or <a href="https://www.facebook.com/nwaultimate">NWA Ultimate facebook page</a>
              </div>
            </li>

            <li>
              <span>bentonville</span>
              <div>
                When: Weekdays, 11:20am (confirm with contact below)<br>
                Where: <a href="https://www.google.com/maps/place/Phillips+Park/@36.3401927,-94.206841,622m/data=!3m2!1e3!4b1!4m2!3m1!1s0x87c910429dbad1fb:0xf0082c38e6251bb9!6m1!1e1?hl=en" target="_blank">
                  Phillips Park</a><br>
                Contact: Scott Grandy <a href="mailto:scott@nwaultimate.com">scott@nwaultimate.com</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <a href="http://www.google.com" data-toggle="modal" data-target="#modal-tournaments">
  <div class="event-circle">    
    <div class="icon-trophy-2"></div>
    <p>tournaments</p>    
  </div></a>

        <!-- Modal -->
  <div id="modal-tournaments" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">tournaments</h4>
        </div>
        <div class="modal-body">
          <p>If you are sponsoring an upcoming tournament near NWA, we'll help spread the word! Send links and other details to <a href="mailto:jackson@nwaultimate.com">jackson@nwaultimate.com</a></p>
          <ul>
            <li>
              <span>Mad Hatter</span>
              <div>
                Tulsa's annual whacky, one day coed hat tournament that looks like something out of Alice in Wonderland. Teams are randomly assigned, hats are required, sidelines are filled with fun AND proceeds go to benefit the community. It's a great time that you don't want to miss! 

                <br><br>Cost: $15
                <br>When: 9am, May 14<sup>th</sup>
                <br>Where: <a href="https://www.google.com/maps/place/West+Bank+Soccer+Complex/@36.1087832,-95.993938,17z/data=!3m1!4b1!4m5!3m4!1s0x87b694adcf3dae5d:0xfea37e692b89021b!8m2!3d36.1087789!4d-95.9917493" target="_blank">West Bank Soccer Complex, Tulsa, OK</a>
                
                <br><br><a href="http://tuf.usetopscore.com/e/madhatter-benefit-tournament-2016" target="_blank">Sign Up</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="event-description">
    <div class="icon-megaphone-2">
      Leagues are a great place to learn and work out strategy alongside a team, spanned across weeks.
    </div>
    <div class="icon-cloud">
      Pickup is another way to get some practice in and stay conditioned, while making some friends.
    </div>
    <div class="icon-trophy-2">
      Tournaments especially draw out competitive spirits. Our tournaments also bring the fun and prizes!
    </div>
  </div>
</div>

<div id="signup">
  <h2>signing up is easy</h2>


  <div class="signup-steps">
    <img src="images/how-to-sign-upGREEN.png"> 
  </div>

  <div class="signup-steps">
    <div>
      <span>for tournaments</span> 
      <ol>
        <li>Go to events.</li>
        <li>Click sign up, complete the required information.</li>
        <li>Pay through PayPal or in person at sign in.</li>
      </ol>     
    </div>
    <div>
      <span>for pick up</span> 
      <ol>
        <li>Go to events, see when/where pick up happens.</li>
        <li>No cost or sign up forms.</li>
        <li>Email the provided contact with questions.</li>
        <li>The contact will send updates if the game is canceled.</li>
      </ol>
    </div>
    <div>
      <span>have questions?</span> email <a href=“mailto:info@nwaultimate.com”>info@nwaultimate.com</a> or drop us a line on <a href="https://www.facebook.com/rogersultimate/?ref=aymt_homepage_panel" target="_blank">Facebook</a>
    </div>  
  </div>
</div>

<div id="about-us">
  <h2>who we are</h2>

  <p>
    We are an organization committed to providing outlets 
    and opportunities for the community to get out, get active, 
    and get to know each other through the sport of Ultimate.
  </p>
  <p>
    All ages and skill levels are welcome. 
    <span>Whether you are a long time veteran or you have never heard of the sport,</span>
    we invite all to come out and participate in any of our events.
    We also want to teach the sport. Signing up for tournaments and leagues is a great way to 
    start learning or be a teacher for others, depending where you find yourself. 
    You can always learn as you go in one of our pick up games. Ultimate is a sport for all. 
    No matter your age, height, skill level, or what kind of shape you are in, 
    <span>there is a place for you on the Ultimate field!</span>
  </p>
  <p>
    Also, the sport of Ultimate is getting more recognition around the world. 
    The sport has a professional league, world tournaments, and is officially 
    eligible to be an Olympic game.
  </p>
  <p>
    We look forward to spreading the great game of Ultimate throughout 
    the community and are available to answer any and all questions. 
    Hope to see you on the field!
  </p>
</div>